html,
body {
  margin: 0;
  height: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

#spinner {
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}